body {
  background: #cad8eb;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.container {
  max-width: 400px;
}

.form-control::placeholder {
  color: #b4b3b3;
}

.animation-border {
  animation: blink 2s 1;
  border-color: #b4b3b3;
  border-width: 1px;
}

.loading-animation {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-animation>div {
  width: 20px;
  height: 20px;
  background: rgb(0, 140, 255);
  border-radius: 50%;
  margin: 3px;
  animation: loading-animation 0.8s infinite alternate;
}

.loading-animation>div:nth-child(2) {
  animation-delay: 0.3s;
}

.loading-animation>div:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes blink {
  0% {
    border-color: #b4b3b3;
  }

  50% {
    border-color: rgb(0, 140, 255);
  }

  100% {
    border-color: #b4b3b3;
  }
}

@keyframes loading-animation {
  to {
    opacity: 0.1;
    transform: translate(0, -20px);
    background: rgb(177, 207, 255);
  }
}